{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}商品列表{% endblock title%}

{% block content%}
<br/>

{% with messages = get_flashed_messages() %}
{% if messages %}
  
<script language="javascript">

  alert('您沒有管理員的權限喔！');

</script>

{% endif %}
{% endwith %}
<div class="book_table">

  <!-- Navigation Links -->
  <div class="mb-3">
    <a href="{{ url_for('user.userSearch') }}" class="btn btn-primary me-2">
      <i class="bi bi-house-search"></i> 房屋交易查詢
    </a>
  </div>
  <form method="post" action={{ url_for('user.cart') }}>
      
      {% for book in book_data %}
      {% if loop.index % 3 == 1 %}
      <div class="row">
      {% endif %}
      
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{book.商品名稱}}</h5>
              <p class="card-text">${{book.商品價格}}</p>
              
              <a href="{{ url_for('user.transaction', pid=book.商品編號) }}" class="btn btn-outline-primary">查看商品資訊</a>
            </div>
          </div>
        </div>

        {% if loop.index % 3 == 0 %}
        </div><br/>
        {% endif %}
            
      {% endfor %}
    </table>
  </form>

</div>

{% endblock content%}